@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 6%;
    --foreground: 210 40% 98%;
    --card: 0 0% 12%;
    --card-foreground: 210 40% 98%;
    --popover: 0 0% 6%;
    --popover-foreground: 210 40% 98%;
    --primary: 121 100% 39%;
    --primary-foreground: 121 100% 90%;
    --secondary: 0 0% 12%;
    --secondary-foreground: 210 40% 98%;
    --muted: 0 0% 12%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 0 0% 12%;
    --accent-foreground: 210 40% 98%;
    --destructive: 9 100% 49%;
    --destructive-foreground: 210 40% 98%;
    --border: 0 0% 12%;
    --input: 0 0% 12%;
    --ring: 121 100% 39%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 6%;
    --foreground: 210 40% 98%;
    --card: 0 0% 12%;
    --card-foreground: 210 40% 98%;
    --popover: 0 0% 6%;
    --popover-foreground: 210 40% 98%;
    --primary: 121 100% 39%;
    --primary-foreground: 121 100% 90%;
    --secondary: 0 0% 12%;
    --secondary-foreground: 210 40% 98%;
    --muted: 0 0% 12%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 0 0% 12%;
    --accent-foreground: 210 40% 98%;
    --destructive: 9 100% 49%;
    --destructive-foreground: 210 40% 98%;
    --border: 0 0% 12%;
    --input: 0 0% 12%;
    --ring: 121 100% 39%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
